/* specify logo size at title page */
.gdbar img {
  width: 160px !important;
  height: 122px !important;
  margin: 8px 8px;
}

.gdbar {
  height: 140px !important;
}

/* specify logo size on footer */
slides > slide:not(.nobackground):before {
  width: 92px;
  height: 70px;
  background-size: 85px 70px;
}

/* author size */

author {
  font-size: 30px;
  color: #C70039;
}

/* colour for chapter pages */
slides > slide.dark {
  background-color: #C70039 !important;
}



